{{#each UserData}}
        <div id="profile_data" class="profile-data">
            <div id="UrlMessageDiv" style="display: none"></div>
            <form id="imageUploadForm" method="post" action="admin/edit-profile">
<input type="hidden" name="profile_id" id="" value="{{this.id}}">
            <header>Your Profile</header>
            <div class="profile">

                <div class="profile-image" style="background-image: url(IMAGES/img1.jpg);">
                    <div class="overlay">
                        <input type="file" name="" id="inputfile" accept="image/*">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            height="1.5em"
                            id="inputfileicon"
                            fill = "grey"
                            opacity="0.5"
                            viewBox="0 0 512 512">
                            <path
                                d="M149.1 64.8L138.7 96H64C28.7 96 0 124.7 0 160V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 
                                64-64V160c0-35.3-28.7-64-64-64H373.3L362.9 64.8C356.4 45.2 338.1 32 317.4 32H194.6c-20.7 0-39 
                                13.2-45.5 32.8zM256 192a96 96 0 1 1 0 192 96 96 0 1 1 0-192z"
                            />
                        </svg>
                    </div>
                </div>
<!-- inside profile data -->
<!-- profile data for name -->
                <div class="profile-data">
                    <div class="dt-group">
                        <div class="1">
                            <span>Name :</span>
                            <input type="text" name="profile_name" id="changenamebox" value="{{this.name}}" autocomplete="off" readonly>
                        </div>
                        <div class="2">
                            <svg 
                                id="changenameicon"
                                xmlns="http://www.w3.org/2000/svg"
                                height="1em"
                                viewBox="0 0 512 512">
                                <path 
                                    d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"
                                />
                            </svg>
                        </div>
                    </div>
<!-- inside profile data -->
<!-- profile data for email -->
                    <div class="dt-group">
                        <div class="1">
                            <span>Email :</span>
                            <input type="text" name="profile_email" id="changeemailbox" value="{{this.email}}" autocomplete="off" readonly>
                        </div>
                        <div class="2">
                            <svg 
                                id="changeemailicon"
                                xmlns="http://www.w3.org/2000/svg"
                                height="1em"
                                viewBox="0 0 512 512">
                                <path 
                                    d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"
                                />
                            </svg>
                        </div>
                    </div>
<!-- inside profile data -->
<!-- profile data for phone -->
                    <div class="dt-group">
                        <div class="1">
                            <span>Phone :</span>
                            <input type="text" name="profile_phone" id="changephonebox" value="{{this.phone}}" autocomplete="off" readonly>
                        </div>
                        <div class="2">
                            <svg 
                                id="changephoneicon"
                                xmlns="http://www.w3.org/2000/svg"
                                height="1em"
                                viewBox="0 0 512 512">
                                <path 
                                    d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"
                                />
                            </svg>
                        </div>
                    </div>
<!-- inside profile data -->
<!-- profile data for password -->
                    <div class="dt-group">
                        <div class="1">
                            <span>Passwd :</span>
                            <input type="password" name="profile_password" id="changepasswordbox" value="{{this.password}}" autocomplete="off" readonly>
                        </div>
                        <div class="2">
                            <svg 
                                id="changepasswordicon"
                                xmlns="http://www.w3.org/2000/svg"
                                height="1em"
                                viewBox="0 0 512 512">
                                <path 
                                    d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"
                                />
                            </svg>
                        </div>
                    </div>
<!-- inside profile data  end-->
<!-- profile data for password -->
                    <div class="dt-group submit">
                        <input type="submit" value="Save">
                    </div>
                </div>
            </div>
            </form>
        </div>
{{/each}}